doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    title News Box
    = render_bundle('manifest')
    = render_bundle('vendor', 'css')
    = render_bundle('main', 'css')
  body.site-body
    header.site-header
      .site-logo
        h1: a(href="/") Vanko
      ul.site-menu
        - for word, link in [('Home', '/'), ('News', '/news'), ('Library', '/tag/library'), ('Projects', '/tag/projects')]
          li: a(href="{{link}}")= word
    div.site-center
      main.site-main
        //-ul.page-breadcrumb
          li Home
          li info
        //-h1.page-title education
        - for article in articles
          article.article
            h1.article-title: a(href="/{{ article.url() }}")= article.title
            aside.article-info.
              Submitted on
              {{ article.created.strftime('%b %-d %Y - %I:%M') }}{{ article.created.strftime('%p')|lower }}
            aside.article-info
              = 'in '
              - for term in article.terms.distinct('name').order_by('name')
                a(href="/tag/{{term.name}}")= term.name
                - if not loop.last
                  = ', '
            main.article-content
              = article.rev.teaser|safe
            a.read-more(href="/{{ article.url() }}") Read more ⇒
      aside.site-aside
        section.aside-section
          h1.aside-title Tags
          .aside-block
            - for term in 'analysis coding docs hints humor library linux software tools ubuntu web windows'.split()
              a(href="/tag/{{ term }}")= term
              =' '
          .aside-link: a(href="/tagadelic") more tags
    footer.site-footer
      &copy; 2005-2016,
      a(href="/") vanko.me
    = render_bundle('vendor', 'js')
    = render_bundle('main', 'js')
