doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    title News Box
    = render_bundle('manifest')
    = render_bundle('vendor', 'css')
    = render_bundle('main', 'css')
  body.site-body
    header.site-header
      .site-logo
        h1: a(href="/") Vanko
      ul.site-menu
        - for item in 'Home News Library Projects'.split()
          li= item
    div.site-center
      main.site-main
        ul.page-breadcrumb
          li Home
          li info
        h1.page-title education
        - for i in range(3)
          article.article
            h1.article-title: a(href="/") State resources
            aside.article-info Submitted by vitki on Nov 26 2009 - 9:16pm
            aside.article-info in education oracle
            main.article-content
              p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          article.article
            h1.article-title: a(href="/") Центр образования № 1840
            aside.article-info Submitted by vitki on Nov 26 2009 - 9:16pm
            aside.article-info in education oracle
            main.article-content
              p Центр образования № 1840 - самое большое учебное заведение Мещанского района Центрального административного округа города Москвы. Это многопрофильное региональное учреждение, реализующее идеи непрерывного дошкольного, основного общего и профессионального образования.
              p История Центра образования № 1840 начинается с 1936 года. Первоначально это была мужская семилетняя школа № 1 Октябрьской железной дороги Народного комиссариата путей сообщения СССР. С с 1992 года экспериментальная школа – лицей № 1140, с 1994 года преобразована в учебно-воспитательный комплекс № 1840, а с 2002 года получила статус Центра образования.
      aside.site-aside
        section.aside-section
          h1.aside-title Tags
          .aside-block
            - for item in 'analysis coding docs hints humor library linux software tools ubuntu web windows'.split()
              a(href="#")= item
              =' '
          .aside-link: a(href="#") more tags
    footer.site-footer
      &copy; 2005-2016,
      a(href="/") vanko.me
    = render_bundle('vendor', 'js')
    = render_bundle('main', 'js')
