doctype html
html
  head
    meta(charset="utf-8")
    title Test page
    = render_bundle('manifest')
  body
    h1 Test page
    p Lorem ipsum dolor sit amet
    = render_bundle('vendor', 'js')
    = render_bundle('main', 'js')
