$ie-fix: true;
$scale: 62.5%;
$font-main: 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
$font-article: Georgia, Arial, Helvetica, sans-serif;

$frame-gap:    6px;
$frame-width:  2px;
$aside-width:  18rem;
$node-hor-pad: 8px;

$bg1: #fcf4eb;
$bg2: #fcfcf8;
$bg3: #fcf8f4;
$bg-hover: #ffe6cd;

$color-text:   #5b2800;
$color-border: #cfb79f;
